<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h2>店名</h2>
<p><%= @post.shop.name %></p>
<h2>タイトル</h2>
<p><%= @post.title %></p>
<h2>カテゴリー</h2>
<p><%= @post.category %></p>
<h2>本文</h2>
<p><%= @post.body %></p>